/*=============HEADER-MIDDLE=============================================*/
.header__middle {
	background-color: #f8f8f8;
	height: 920px;
	margin: 44px 0 0 0;
	@media (max-width: 800px) {
		height: 520px;
	}
	@media (max-width: 600px) {
		//margin: 0 0 0 0;
		height: 420px;
	}
	@media (max-width: 425px) {
		height: 320px;
	}
	@media (max-width: 355px) {
		height: 220px;
	}
}
.middle-header {
	height: 100%;
	padding: 40px 0 40px 0;
	background: #f8f8f8 url("../img/header/header-middle_men.png") 11% 0 / auto auto no-repeat;
	@media (max-width: 800px) {
		background-size: contain;
		background-position: 0;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__logo {
		color: #575153;
		//font-size: calc(9vw + 9vh + 4vmin);
		font-size: 400px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.19em;
		text-align: center;
		padding: 170px 0 0 0;
		font-weight: 700;
		@media (max-width: 1800px) {
			font-size: 300px;
		}
		@media (max-width: 1350px) {
			font-size: 200px;
		}
		@media (max-width: 1025px) {
			font-size: 100px;
		}
		@media (max-width: 500px) {
			font-size: 70px;
			padding: 70px 0 0 0;
		}
		@media (max-width: 350px) {
			font-size: 40px;
			padding: 40px 0 0 0;
		}
	}
	&__shop-collection {
		margin: 109px 189px 0 auto;
		@media (max-width: 1350px) {
			margin: 109px auto 0 auto;
		}
		@media (max-width: 800px) {
			margin: 69px auto 0 auto;
		}
		@media (max-width: 700px) {
			margin: 39px auto 0 auto;
		}
		@media (max-width: 350px) {
			margin: 15px auto 0 auto;
		}
	}

	&__column {
		&.m {
			//flex: 0 1 50%;
		}
	}
	&__title {
		color: #222222;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 1.2px;
		line-height: 24px;
		span {
			font-weight: 700;
		}
	}
	&__right {
		display: flex;
	}
	&__menu {
		flex-grow: 0;
		flex-shrink: 0;
		margin: 0 115px 0 0;
		position: relative;
		@media (max-width: 1024px) {
			margin: 0 0 0 0;
			order: 2;
			position: fixed;
			right: 0;
			top: 44px;
			height: 100%;
			z-index: 2;
			opacity: 0.95;
			background-color: #333333;
			padding: 120px 0 0 0;
			transform: translate3d(100%, 0, 0);
			transition: 0.5s all;
			&.active {
				transform: translate3d(0, 0, 0);
			}
		}
		/*@media (max-width: 600px) {
			top: 0;
		}*/
	}
	&__icon-menu {
		div {
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@media (max-width: 1024px) {
			flex-direction: column;
			align-items: flex-start;
			padding: 0 26px 0 10px;
		}
		@media (max-width: 600px) {
			padding: 0 10px 50px 7px;
		}
	}
	&__item {
		margin: 0 57px 0 0;

		text-align: center;
		@media (max-width: 1024px) {
			margin: 0 0 0 0;
			width: 100%;
			&:not(:last-child):before {
				content: "";
				display: block;
				position: absolute;
				width: 8px;
				height: 8px;
				bottom: 20px;
				left: 50%;
				background-color: white;
				border-radius: 50%;
			}
		}

		&:nth-child(1) .middle-header__link:after,
		&:nth-child(2) .middle-header__link:after,
		&:nth-child(5) .middle-header__link:after {
			content: "";
			display: block;
			position: absolute;
			width: 8px;
			height: 5px;
			bottom: 0;
			left: 0;
			background: url("../img/header/arrow.png") no-repeat;
			@media (max-width: 1024px) {
				transform: rotate(90deg);
				bottom: auto;
				top: calc(50% - 2.5px);
			}
		}
		&:last-child {
			margin: 0 0 0 0;
		}
		&:hover {
			.submenu-header {
				display: block;
			}
			.middle-header__link {
				color: #00c8c8;
				&:after {
					background: url("../img/header/arrow_hover.png") no-repeat;
				}
			}
		}
	}
	&__link {
		padding: 0 0 14px 0;
		position: relative;
		transition: all 0.4s ease;
		display: block;

		color: #222222;
		font-size: 13px;
		line-height: 20px;
		text-transform: uppercase;
		&:hover {
			color: #00c8c8;
		}
		@media (max-width: 1024px) {
			color: #999999;
			padding: 20px 20px;
			.middle-header__item:not(:last-child) &:before {
				content: "";
				display: block;
				position: absolute;
				width: 8px;
				height: 8px;
				bottom: -4px;
				left: 50%;
				background-color: white;
				border-radius: 50%;
			}
		}
		@media (max-width: 600px) {
			color: #999999;
			padding: 10px 10px;
			font-size: 10px;
		}
	}
	&__search {
		@media (max-width: 1024px) {
			display: none;
		}
	}
}

.icon-menu {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 80px;
	right: 100%;
	@media (max-width: 1024px) {
		display: block;
	}
	&__bg {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		background-color: #bbe7f5;
		transition: all 1s;
		&.active {
			background-color: #fce3bd;
			animation-name: icon-menu;
			animation-duration: 1s;
		}
		&.disactive {
			animation-name: icon-menu2;
			animation-duration: 1s;
		}
	}
	div:not(:last-child) {
		z-index: 2;
		position: absolute;
		margin: 0 auto;
		top: 50%;
		transform: translate(0, -50%);
		left: 15%;
		opacity: 0.75;
		height: 3px;
		width: 70%;
		background-color: black;
	}
	div:nth-child(4) {
		transform: translate3d(0, -1000px, 0) rotate(45deg);
	}
	div:nth-child(5) {
		transform: translate3d(0, 10000px, 0) rotate(-45deg);
	}
	div:first-child {
		top: 33.333%;
	}
	div:nth-child(3) {
		top: 66.667%;
	}
}

@keyframes icon-menu {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes icon-menu2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.icon-search {
	position: absolute;
	right: 100%;
	top: 30px;
	z-index: 2;
	&__icon {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border: 1px solid #5c5b5a;
		background: #f3f3f3 url("../img/header/search_icon.png") center no-repeat;
		cursor: pointer;
		display: none;
		&.disactive {
			display: none;
		}
		@media (max-width: 1024px) {
			display: block;
		}
	}
	&__search {
		display: none;
		box-shadow: 2px 2px 5px 2px black;
		position: absolute;
		top: 0;
		right: 2px;
		&.active {
			display: block;
		}
	}
}

.search {
	margin: -3px 0 0 0;
	width: 190px;
	height: 30px;
	@media (max-width: 1024px) {
		margin: 0 0 0 0;
		order: 1;
	}
	@media (max-width: 600px) {
		margin: 0 0 0 0;
		order: 1;
	}
	&__body {
		width: 100%;
		height: 100%;
	}
	&__form {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__input {
		width: 100%;
		height: 100%;
		border: 1px solid blue;
		padding: 10px 20px 10px 10px;
		border: 1px solid #e7e7e7;
		background-color: #f8f8f8;
		&[placeholder] {
			color: #989898;
			font-size: 13px;
			font-weight: 300;
			line-height: 27px;
		}
	}
	&__btn {
		position: absolute;
		height: 15px;
		width: 13px;
		top: 50%;
		transform: translate3d(0, -50%, 0);
		right: 11px;
		background: url("../img/header/search_icon.png") no-repeat;
		z-index: 1;
		cursor: pointer;
	}
}
